name: Go Lint and Format

on:
  pull_request:
  push:
    branches:
      - "main"
      - "master"

env:
  GO_VERSION: 1.25
  GOLANGCI_LINT_VERSION: v1.60

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: golangci-lint Action
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=3m

  terraform-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3.1.2
      - name: Terraform Accepatance Tests
        run: |
          DFCLOUD_API_KEY=${{ secrets.DFCLOUD_API_KEY }} make test
